/*---------------------------------------------*/
/*================ Start Global ==============*/
/*-------------------------------------------*/
body{
  background: #252831;
  font-size: 16px;
  font-family: arial;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  line-height: 1.8em;
}

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/*---------------------------------------------*/
/*================ Start Header ==============*/
/*-------------------------------------------*/
header,h1,h2,h3{
  font-family: 'Capriola', sans-serif;
}
header .brand{
  max-width: 100%;
  background: #252831;
  display: flex;
  padding-left: 10px;
  max-height: 120px;
}

header .brand h1{
  font-size: 55px;
  color: #dd35dd;
  flex: 1;
  padding: 40px 0 0 5px;
}

header .brand img{
  flex: 1;
  max-width: 10%;
  max-height: 10%;
  padding: 10px 0;
}

header nav{
  min-height: 65px;
  max-width: 100%;
  background: #000;
  color: #fff;
  font-size: 18px;
  border-bottom: 5px solid #cc0000;
}

header nav .links{
  list-style: none;
  display: flex;
  height: 65px;
  justify-content: space-between;
}

header nav .links li{
  display: flex;
  width: 24.8%;
  background: gray;
  justify-content: center;
  align-items: center;
}

header nav .links li a{
  text-decoration: none;
  font-weight: bold;
  color: #000;
  display: flex;
  width: 24.8%;
  height: 65px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

header nav .links li .active{
  background: #461e1e;
  color: #ddd;
}
header nav .links li a:hover{
  color: #cc0000;
  background: #ccc;
}
/*---------------------------------------------------*/
/*================ Start Main Content ==============*/
/*-------------------------------------------------*/
.main{

}
.main-articles{
  max-width: 69%;
  overflow: hidden;

}

.main-articles .first-header,
.main-articles .second-header{
    background: #ddd;
    padding: 18px 0;
    border-bottom: 2px solid #4e4242;
    max-width: 100%;
    font-size: 25px;
}

.main-articles .article-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  background: #d3cccc;
  padding-bottom: 30px;
}

.main-articles .article{
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 48%;
  padding: 10px;
}

.main-articles .article h2{
    padding: 5px 0 15px 0;
    font-size: 25px;
}

.main-articles .article p{
    padding: 10px 0px 20px 0px;
}

article img{
  width: 100%;
  height: 30%;
  border-radius: 10px;
}
/*--------------------------------------------------*/
/*================= Start Aside Bar ===============*/
/*------------------------------------------------*/
.side-bar{
  max-width: 30%;
  background: #ddd;
  margin-left: 1%;
}

.side-bar .aside-1 h2,
.side-bar .aside-2 h2{
  border-bottom: 2px solid #4e4242;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.side-bar .aside-1 .media{
  font-size: 20px;
  max-width: 100%;
}

.side-bar .aside-1 .media .face,
.side-bar .aside-1 .media .youtobe,
.side-bar .aside-1 .media .twitter{
  display: block;
  padding: 10px 0;
  border: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  max-width: 100%;
}

.side-bar .aside-1 .media .face{
  color: #fff;
  background: #00f;
  border: 2px solid #00f;
}

.side-bar .aside-1 .media .face:hover,
.side-bar .aside-1 .media .face:focus{
  color: #c9bbbb;
  background: #070798;
  border: 2px solid #070798;
}

.side-bar .aside-1 .media .youtobe{
  color: #fff;
  background: red;
  border: 2px solid red;
}

.side-bar .aside-1 .media .youtobe:hover,
.side-bar .aside-1 .media .youtobe:focus{
  color: #f1f1f1;
  background: #b62a2a;
  border: 2px solid #b62a2a;
}

.side-bar .aside-1 .media .twitter{
  color: #fff;
  background: #0ff;
  border: 2px solid #0ff;
}

.side-bar .aside-1 .media .twitter:hover,
.side-bar .aside-1 .media .twitter:focus{
  color: #f1f1f1;
  background: #3fb9b9;
  border: 2px solid #3fb9b9;
}

.side-bar .aside-1,
.side-bar .aside-2{
  padding: 26px 10px;
  max-width: 100%;
}

.side-bar .aside-2{
  background: #ccc;
  padding: 15px;
  margin: 10px;
}
/*------------------------------------------------*/
/*================= Start Contact ===============*/
/*----------------------------------------------*/
.contact{
	color: #fff;
}

.contact .contact-header{
	padding-top: 25px;
	color: #ddd;
}
.contact p{
	padding: 20px;
}
.contact form{
	padding-bottom: 5px;
}
.contact form .input-control{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}
.contact form .input-control input{
	width: 49%;
	padding: 15px 10px;
	border-radius: 10px;
}
.contact form .textarea-control{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}
.contact form .textarea-control textarea{
	flex: 1;
	min-height: 250px;
	border-radius: 10px;
}
.btn-contact{
  background: #0ff;
    color: #000;
    padding: 2px 20px;
    border: 2px solid #0ff;
    border-radius: 5px;
    line-height: 2em;
    font-size: 16px;
}
.btn-contact:hover{
  background: #cc0000;
  color: #0ff;
  border: 2px solid #cc0000;
}
/*-------------------------------------------------*/
/*================= Start About Us ===============*/
/*-----------------------------------------------*/
.about-us{
  background: #cdc9c9;
}
.about-us h1{
  padding: 30px 0 10px 10px;
  border-bottom: 1px solid #000;
}
.about-us .sudan-info{
  padding: 20px;
}

.about-us .sudan-info p:first-child{
  padding-bottom: 10px;
}

.about-us .sudan-info p:last-child{
  padding-top: 10px;
}
/*------------------------------------------------*/
/*================= Start Gallery ===============*/
/*----------------------------------------------*/
.gallery{
 padding: 0 5px;
 overflow: hidden;
 color: #ddd;
}
.gallery h1:first-child{
  font-size: 40px;
      padding: 40px 0 15px 0;
  color: #b93fb0;
}
.gallery .itmes{
 max-width: 100%;
 padding-bottom: 30px;
 overflow: hidden;
}

.gallery .itmes .itme{
  max-width: 31.3333%;
  float: left;
}

.gallery .itmes .itme:not(:last-child){
  margin-right: 3%;
}
.gallery .itmes .itme h2:first-child{
    padding: 10px 0 5px 0;
    font-size: 25px;
    border-bottom: 2px dashed #cc0000;
    margin-bottom: 20px;
}
.gallery .itmes .itme img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.gallery .itmes .itme-1 h4:last-child{

}
/*-----------------------------------------------*/
/*================= Start Footer ===============*/
/*---------------------------------------------*/
footer{
  min-height: 60px;
  color: #fff;
  background: #000;
  border-top: 5px solid #cc0000;
}

footer p{
  padding-top: 18px;
}
/*----------------------------------------------------*/
/*================ Start My Frame Work ==============*/
/*--------------------------------------------------*/
.container{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

.text-center{
  text-align: center;
}

.btn{
  background: #0ff;
    color: #000;
    padding: 2px 20px;
    border: 2px solid #0ff;
    border-radius: 5px;
    line-height: 2em;
    font-size: 16px;
}

.btn:hover,
.btn:focus{
  background: #cc0000;
  color: #0ff;
  border: 2px solid #cc0000;
}

.clear-fix{
  clear: both;
}

.main-color{
  color: #cc0000;
}
/*=========== Start Media Query ==============*/
@media(max-width: 567px){
/*============================================*/
  .container{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    width: 100%;
  }
/*#############################*/
/*======= Start Header =======*/
/*###########################*/
  header .brand h1{
    padding: 35px 5px;
    font-size: 35px;
  }
  header .brand h1 span{
    padding: 12px 0 0 35px;
    display: block;
  }
  header .brand img{
    max-width: 20% !important;
  }
  header nav {
      position: relative;
      background: #7a3e3e;
  }
  header nav .links{
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 999;
  }
  header nav .links li {
     width: 100%;
     border-bottom: 2px solid #000;
  }
  nav .menu >a{
    text-decoration: none;
    font-size: 25px;
    padding: 16px;
    background: #cc0000;
    color: #fff;
    height: 65px;
  }
  nav .menu >a:hover{
    background: #000;
    color: #cc0000;
  }
  nav .menu:hover .links{
    display: block;
  }
  nav form{
    display: none;
  }
/*##############################*/
/*======= Start Gallery =======*/
/*############################*/
  .gallery .itmes {
    text-align: center;
 }

   .gallery .itmes .itme{
    max-width: 100%;
    float: none;
 }

 .gallery h1:first-child{
   font-size: 35px;
 }
  /*###################################*/
 /*======= Start main-articles =======*/
 /*##################################*/
 .main-articles{
   max-width: 100%;
 }
 .main-articles .article-content{
   flex-direction: column;
 }

 .main-articles .article{
   width: 100%;
 }
 article .btn{
   padding: 10px 8px;
   border-radius: 10px;
   font-size: 14px;
 }
 /*###############################*/
 /*======= Start Side-bar =======*/
 /*#############################*/
 .side-bar{
   max-width: 100%;
   margin-left: 0;
 }
 /*##############################*/
 /*======= Start Contact =======*/
 /*############################*/
 .contact{
   padding: 10px;
 }
 .contact form .input-control{
 	flex-direction: column;
 }
 .contact form .input-control input{
 	width: 100%;
 	margin-bottom: 5px;
 }
 .contact form .input-control input[type="text"]{
 	margin-bottom: 10px;
 }
}
/*============================================*/
@media(min-width: 568px) and (max-width:767px){
/*============================================*/
  .container{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    width: 100%;
  }
/*#############################*/
/*======= Start Header =======*/
/*###########################*/
  header .brand h1{
    font-size: 40px;
    padding: 40px 0 0 5px;
  }
  header .brand img{
    max-width: 12%;
  }
  .main-articles{
    max-width: 100%;
  }

  .side-bar{
    max-width: 100%;
    margin-left: 0;
  }
  header nav {
      position: relative;
      background: #7a3e3e;
  }
  header nav .links{
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 999;
  }
  header nav .links li {
     width: 100%;
     border-bottom: 2px solid #000;
  }
  nav .menu >a{
    text-decoration: none;
    font-size: 25px;
    padding: 16px 8px;
    background: #cc0000;
    color: #fff;
    height: 65px;
  }
  nav .menu >a:hover{
    background: #000;
    color: #cc0000;
  }
  nav .menu:hover .links{
    display: block;
  }
  .btn{
    padding: 0 6px;
    border-radius: 5px;
  }

  article .btn{
    padding: 12px 10px;
    border-radius: 10px;
  }

  nav form .btn{
    padding: 12px 6px;
    border-radius: 0;
  }

  nav form{
    margin-top: 0;
    max-width: 100%;
  }

  nav form input[type="text"]{
    padding: 20px 10px 20px 15px;
    border-radius: 0;
  }
/*##############################*/
/*======= Start Gallery =======*/
/*############################*/
  .gallery .itmes {
    text-align: center;
 }

   .gallery .itmes .itme {
    max-width: 100%;
    float: none;
}
/*####################################*/
/*======= Start main-articles =======*/
/*##################################*/
.main-articles .article-content{
  flex-direction: column;
}

.main-articles .article{
  width: 100%;
}
/*##############################*/
/*======= Start Contact =======*/
/*############################*/
.contact{
  padding: 10px;
}
.contact form .input-control{
	flex-direction: column;
}
.contact form .input-control input{
	width: 100%;
	margin-bottom: 5px;
}
.contact form .input-control input[type="text"]{
	margin-bottom: 10px;
}
}
/*===============================================*/
@media (min-width: 768px) and  (max-width: 991px){
/*===============================================*/

  .container{
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    width: 100%;
  }
/*#############################*/
/*======= Start Header =======*/
/*###########################*/
.hidden-sm{
  display: none;
}
/*##############################*/
/*======= Start Gallery =======*/
/*############################*/
.gallery{
  padding: 10px;
}
  .gallery h1:first-child{
    font-size: 35px;
    border-bottom: 2px solid #000;
    margin-bottom: 15px
  }
/*###############################*/
/*======= Start Side-bar =======*/
/*#############################*/
  .side-bar{

  }
/*####################################*/
/*======= Start main-articles =======*/
/*##################################*/
  .main-articles .article-content{
    padding-bottom: 65px;
  }
  /*##############################*/
  /*======= Start Contact =======*/
  /*############################*/
  .contact{
    padding: 10px;
  }
}
/*===============================================*/
@media (min-width: 992px) and  (max-width: 1199px){
/*===============================================*/
  .container {
      max-width: 962px;
  }
  header nav .links li a{
    padding: 18px 120px;
  }
  .hidden-md{
    display: none;
  }
  .main{
    margin-top: 15px;
  }
  article .btn {
    padding: 0px 10px;
    font-size: 14px;
}

 .main-articles .article h2 {
    font-size: 20px;
}
}
/*========================================*/
@media (min-width: 1200px){
/*========================================*/
  .container {
      max-width: 1170px;
  }
  .hidden-lg{
    display: none;
  }
  .main{
    margin-top: 15px;
  }
}
